In [1]:
import os

In [2]:
import sqlite3

In [5]:
connection = sqlite3.connect("mydb.db")

In [7]:
connection

In [8]:
table_creation_query =  """
CREATE TABLE IF NOT EXISTS employees(
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    hire_date TEXT NOT NULL,
    salary REAL NOT NULL
);
"""

In [9]:
table_creation_query2 =  """
CREATE TABLE IF NOT EXISTS customers(
    customer_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    phone TEXT
);
"""

In [10]:
table_creation_query3 =  """
CREATE TABLE IF NOT EXISTS orders(
    order_id INTEGER PRIMARY KEY AUTOINCREMENT,
    customer_id TEXT NOT NULL,
    order_date TEXT NOT NULL,
    amount REAL NOT NULL,
    FOREIGN KEY (customer_id) REFERENCES customers (customer_id)
);
"""

In [11]:
cursor = connection.cursor()

In [12]:
cursor.execute(table_creation_query)
cursor.execute(table_creation_query2)
cursor.execute(table_creation_query3)

In [29]:
insert_query = """ 
INSERT INTO employees (emp_id, first_name, last_name, email, hire_date, salary)
VALUES (?, ?, ?, ?, ?, ?);
"""

insert_query_customers = """ 
INSERT INTO customers (customer_id, first_name, last_name, email, phone)
VALUES (?, ?, ?, ?, ?);
"""

insert_query_orders = """ 
INSERT INTO orders (order_id, customer_id, order_date, amount)
VALUES (?, ?, ?, ?);
"""

In [14]:
employee_data = [
    (1, 'Tapas', 'Das', 'tapasdas@gmail.com', '2022-06-01', 20000),
    (2, 'Raja', 'Ray', 'raja@gmail.com', '2023-04-01', 20000),
    (3, 'Anil', 'Deb', 'anil@gmail.com', '2024-05-01', 23000),
    (4, 'Ramu', 'Nath', 'ramu@gmail.com', '2022-03-01', 40000),
    (5, 'Shyam', 'Bty', 'shyam@gmail.com', '2020-03-01', 40000),
]

In [15]:
customers_data = [
    (1, 'Tapan', 'Deb', 'tapan@gmail.com', '1234567890'),
    (2, 'Salman', 'Ayub', 'salman@gmail.com', '1234765902'),
    (3, 'Yasir', 'Mohammad', 'yasir@gmail.com', '3452189045'),
    (4, 'John', 'Burger', 'john@gmail.com', '3490215732'),
    (5, 'Ratnam', 'Singh', 'ratnam@gmail.com', '4590123581'),
]

In [18]:
order_data = [
    (1, 1, '2022-09-12', 390),
    (2, 2, '2021-10-02', 210),
    (3, 3, '2025-01-29', 70),
    (4, 4, '2023-02-15', 650),
    (5, 5, '2022-03-11', 130),
]

In [30]:
# cursor.executemany(insert_query, employee_data)
# cursor.executemany(insert_query_customers, customers_data)
cursor.executemany(insert_query_orders, order_data)

In [20]:
connection.commit()

In [22]:
cursor.execute("select * from employees")

In [23]:
for row in cursor.fetchall():
    print(row)

(1, 'Tapas', 'Das', 'tapasdas@gmail.com', '2022-06-01', 20000.0)
(2, 'Raja', 'Ray', 'raja@gmail.com', '2023-04-01', 20000.0)
(3, 'Anil', 'Deb', 'anil@gmail.com', '2024-05-01', 23000.0)
(4, 'Ramu', 'Nath', 'ramu@gmail.com', '2022-03-01', 40000.0)
(5, 'Shyam', 'Bty', 'shyam@gmail.com', '2020-03-01', 40000.0)

In [24]:
cursor.execute("select * from customers")
for row in cursor.fetchall():
    print(row)

(1, 'Tapan', 'Deb', 'tapan@gmail.com', '1234567890')
(2, 'Salman', 'Ayub', 'salman@gmail.com', '1234765902')
(3, 'Yasir', 'Mohammad', 'yasir@gmail.com', '3452189045')
(4, 'John', 'Burger', 'john@gmail.com', '3490215732')
(5, 'Ratnam', 'Singh', 'ratnam@gmail.com', '4590123581')

In [31]:
cursor.execute("select * from orders")
for row in cursor.fetchall():
    print(row)

(1, '1', '2022-09-12', 390.0)
(2, '2', '2021-10-02', 210.0)
(3, '3', '2025-01-29', 70.0)
(4, '4', '2023-02-15', 650.0)
(5, '5', '2022-03-11', 130.0)

In [32]:
from langchain_community.utilities import SQLDatabase

In [33]:
db = SQLDatabase.from_uri("sqlite:///mydb.db")

In [34]:
db

In [35]:
db.get_usable_table_names()

['customers', 'employees', 'orders']

In [36]:
db.dialect

'sqlite'

In [38]:
os.environ["GROQ_API_KEY"] = "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"

In [39]:
from langchain_groq import ChatGroq
llm = ChatGroq(model="llama3-70b-8192")

In [40]:
llm.invoke("How are you ?")

AIMessage(content="I'm just a language model, I don't have feelings or emotions like humans do. However, I'm functioning properly and ready to assist you with any questions or tasks you may have! How can I help you today?", additional_kwargs={}, response_metadata={'token_usage': {'completion_tokens': 46, 'prompt_tokens': 14, 'total_tokens': 60, 'completion_time': 0.131428571, 'prompt_time': 0.004740256, 'queue_time': 0.018763393000000003, 'total_time': 0.136168827}, 'model_name': 'llama3-70b-8192', 'system_fingerprint': 'fp_7ab5f7e105', 'finish_reason': 'stop', 'logprobs': None}, id='run-ede270be-9371-42e2-a5dc-829b621611e7-0', usage_metadata={'input_tokens': 14, 'output_tokens': 46, 'total_tokens': 60})

In [41]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

In [42]:
toolkit = SQLDatabaseToolkit(db = db, llm= llm)

In [46]:
toolkit.get_tools()

[QuerySQLDatabaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x109f882b0>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x109f882b0>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x109f882b0>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x109f882b0>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x10bcba170>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x10bcbace0>, model_name='llama3-70b-8192', model_kwargs={}, groq_api_key=SecretStr('**********')), llm_chain=LLMChain(verbose=False, prompt=PromptTemplate(input_variables=['dialect', 'query'], input_types={}, partial_variables={}, template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x10bcba170>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x10bcbace0>, model_name='llama3-70b-8192', model_kwargs={}, groq_api_key=SecretStr('**********')), output_parser=StrOutputParser(), llm_kwargs={}))]

In [44]:
tools = toolkit.get_tools()

In [45]:
for tool in tools:
    print(tool.name)

sql_db_query
sql_db_schema
sql_db_list_tables
sql_db_query_checker

In [48]:
list_tables_tool = next((tool for tool in tools if tool.name == "sql_db_list_tables"), None)

In [49]:
get_schema_tool = next((tool for tool in tools if tool.name == "sql_db_schema"), None)

In [50]:
list_tables_tool.invoke("")

'customers, employees, orders'

In [51]:
print(get_schema_tool.invoke("customers"))

CREATE TABLE customers (
	customer_id INTEGER,
	first_name TEXT NOT NULL,
	last_name TEXT NOT NULL,
	email TEXT NOT NULL,
	phone TEXT,
	PRIMARY KEY (customer_id),
	UNIQUE (email)
)

/*
3 rows from customers table:
customer_id	first_name	last_name	email	phone
1	Tapan	Deb	tapan@gmail.com	1234567890
2	Salman	Ayub	salman@gmail.com	1234765902
3	Yasir	Mohammad	yasir@gmail.com	3452189045
*/